@import "reset";

/* Start variables */
$text_prim__blue: hsl(238, 29%, 16%);
$text_prim__red: hsl(14, 88%, 65%);
$text_neut__darkBlue: hsl(237, 12%, 33%);
$text_neut__blue: hsl(240, 6%, 50%);

$div__blue: hsl(240, 5%, 91%);

$bg__gradient: linear-gradient(
  180deg,
  hsl(273, 75%, 66%) 0%,
  hsl(240, 73%, 65%) 100%
);

$breakpoint: "1200px";
/* End variables */

html {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.full_wrap {
  align-items: center;
  background: $bg__gradient;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.card {
  background: white;
  border-radius: 20px;
  display: flex;
  height: 510px;
  position: relative;
  width: 920px;
  -webkit-box-shadow: 0px 41px 60px -20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 41px 60px -20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 41px 60px -20px rgba(0, 0, 0, 0.4);
}

.illustration__box {
  background: url("/images/illustration-box-desktop.svg") no-repeat;
  height: 180px;
  left: -92px;
  position: absolute;
  top: 200px;
  width: 200px;
}

.illustration {
  background: url("/images/illustration-woman-online-desktop.svg"),
    url("/images/bg-pattern-desktop.svg");
  background-origin: top left, content-box;
  background-position: -80px 75px, 120% -275px;
  background-repeat: no-repeat;
  background-size: 100%, 200%;
  width: 50%;
}

.acc {
  display: flex;
  flex-direction: column;
  padding: 70px 75px 0 30px;
  width: 50%;
  &__title {
    color: $text_prim__blue;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}

.acc_item {
  border-bottom: 1px solid $div__blue;
  height: 50px;
  overflow-y: hidden;
  transition: all 0.3s ease-out;
  &__title {
    align-items: center;
    color: $text_neut__darkBlue;
    display: flex;
    font-size: 1.175rem;
    height: 50px;
    .arrow {
      margin-left: auto;
      margin-right: 15px;
    }
  }
  &__body {
    color: $text_neut__blue;
    line-height: 1.4rem;
  }

  &.show {
    height: 120px;

    .acc_item__title {
      font-weight: 700;
      .arrow {
        transform: rotate(180deg);
      }
    }
  }
}
