html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Start variables */
/* End variables */
html {
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.full_wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(180deg, #af67e9 0%, #6565e7 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

.card {
  background: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 510px;
  position: relative;
  width: 920px;
  -webkit-box-shadow: 0px 41px 60px -20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 41px 60px -20px rgba(0, 0, 0, 0.4);
}

.illustration__box {
  background: url("/images/illustration-box-desktop.svg") no-repeat;
  height: 180px;
  left: -92px;
  position: absolute;
  top: 200px;
  width: 200px;
}

.illustration {
  background: url("/images/illustration-woman-online-desktop.svg"), url("/images/bg-pattern-desktop.svg");
  background-origin: top left, content-box;
  background-position: -80px 75px, 120% -275px;
  background-repeat: no-repeat;
  background-size: 100%, 200%;
  width: 50%;
}

.acc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 70px 75px 0 30px;
  width: 50%;
}

.acc__title {
  color: #1d1e35;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.acc_item {
  border-bottom: 1px solid #e7e7e9;
  height: 50px;
  overflow-y: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.acc_item__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4a4b5e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.175rem;
  height: 50px;
}

.acc_item__title .arrow {
  margin-left: auto;
  margin-right: 15px;
}

.acc_item__body {
  color: #787887;
  line-height: 1.4rem;
}

.acc_item.show {
  height: 120px;
}

.acc_item.show .acc_item__title {
  font-weight: 700;
}

.acc_item.show .acc_item__title .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=main.css.map */